.stickyHeader {
  position: -webkit-sticky; 
  position: sticky;
  top: 0;
  z-index: 1000; 
  background-color: white; 
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); 
}

.header {
  height: rem(100px);
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  display: flex;
  justify-content: center;
  background-color: var(--white);
}

.link,
.linkModal,
.linkLogin {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: var(--mantine-spacing-md);
  margin-right: 5px;
  text-decoration: none;
  color: var(--blue);
  font-weight: 500;
  font-size: 16px;

  @media (max-width: $mantine-breakpoint-sm) {
    height: rem(60px);
    width: 100%;
    font-size: 22px;
    @mixin hover {
      color: var(--blue);
    }
  }

  @mixin hover {
    color: var(--yellow);
    svg {
      stroke: var(--yellow);
    }
  }
}

.linkLogin {
  color: var(--yellow);
}

.linkModal {
  color: var(--white);
  background-color: var(--yellow);
}

.subLink {
  width: 100%;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  border-radius: var(--mantine-radius-md);

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-7));
  }
  @media (max-width: $mantine-breakpoint-sm) {
    > div {
      padding: 0 15px !important;
    }
    @mixin hover {
      background-color: transparent;
    }
  }
}

.dropdownFooter {
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-7));
  margin: calc(var(--mantine-spacing-md) * -1);
  margin-top: var(--mantine-spacing-sm);
  padding: var(--mantine-spacing-md) calc(var(--mantine-spacing-md) * 2);
  padding-bottom: var(--mantine-spacing-xl);
  border-top: rem(1px) solid light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
}

.sublinkTitle {
  font-size: 15px;
  margin-bottom: 2px;
}

.sublinkDescription {
  font-size: 14px;
}

.button,
.button2 {
  font-size: 16px !important;
  cursor: pointer;
  transition: all 0.3s;
}
.button:hover {
  background-color: var(--dark-yellow) !important;
}

.button2:hover {
  color: var(--dark-yellow) !important;
}

.mobileButton {
  width: 100%;
}

.mantine-focus-auto {
  width: 40px;
  height: 40px;
}

@media (min-width: $mantine-breakpoint-sm) {
  .logoImage {
    display: none;
  }
}
