.outer {
  background-color: var(--white);
  background-image: url('/images/bg_white.svg');
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  padding-bottom: 148px;
  margin-bottom: -1px !important;
  @media (max-width: $mantine-breakpoint-xs) {
    padding-bottom: 75px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-size: cover;
  background-position: center;
  padding: 1rem;
  background-color: var(--blue);
}

.mainTitle {
  color: var(--blue);
  font-size: var(--title-font-size);
  line-height: 1.2;
  font-weight: 900;
  text-align: center;
  padding: calc(var(--space-40) * 2) 0;

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: rem(28px);
    padding: var(--space-40) 0;
  }
}

.subTitle {
  font-family: var(--mantine-font-family);
  font-size: rem(21px);
  line-height: 1.5;
  margin-bottom: var(--mantine-spacing-lg);
}

.cardImg {
  height: 50px;
  width: 50px;
  margin-bottom: 10px;
  filter: invert(1);
}

.cardTitle {
  margin-bottom: 10px;
  color: var(--white);
}

.cardDescription {
  font-size: 16px;
  margin-bottom: 10px;
  color: var(--white);
  a {
    color: var(--yellow);
    text-decoration: none;
    transition: all 0.3s;
  }
  a:hover {
    color: var(--dark-yellow) !important;
  }
  
}
