.outer {
  background-color: var(--white);
  background-image: url('/images/bg_white.svg');
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 40px;
  padding-bottom: 146px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-size: cover;
  background-position: center;
  padding: 1rem;
  background-color: var(--blue);
}

.mainTitle {
  color: var(--blue);
  font-size: rem(52px);
  line-height: 1.2;
  font-weight: 900;
  text-align: center;
  margin: 2rem 0 1rem 0;

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: rem(28px);
  }
}

.subTitle {
  font-family: var(--mantine-font-family);
  font-size: rem(21px);
  line-height: 1.5;
  margin-bottom: var(--mantine-spacing-lg);
}

.cardImg {
  height: 50px;
  width: 50px;
  margin-bottom: 10px;
  filter: invert(1);
}

.cardTitle {
  margin-bottom: 10px;
  color: var(--white);
}

.cardDescription {
  font-size: 16px;
  margin-bottom: 10px;
  color: var(--white);
}
