.outer {
  background-color: var(--gray);
  padding-bottom: calc(var(--space-40) * 2);
}
.mainTitle {
  color: var(--blue);
  font-size: var(--title-font-size);
  line-height: 1.2;
  font-weight: 900;
  text-align: center;
  padding: var(--space-40) 0;

  @media (max-width: 30em) {
    font-size: rem(28px);
  }
}

.name {
  font-size: 26px;
  color: var(--blue);
  font-weight: 700;
}

.jobTitle {
  font-weight: 400;
  font-size: 18px;
}

.avatar {
  border-radius: 100%;
  display: flex;
  margin: 0 auto;
}
