.outer {
  background-color: var(--blue);
  background-image: url('/images/bg_blue.svg');
  padding-top: var(--space-40);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  padding-bottom: 148px;
  margin-bottom: -1px !important;
  @media (max-width: $mantine-breakpoint-xs) {
    padding-bottom: 75px;
  }
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-size: cover;
  background-position: center;
  padding: 0 0 1rem 0;
  border-radius: 10px;
  text-align: center;

  @media (max-width: $mantine-breakpoint-xs) {
    display: block;
  }
}

.companyName {
  color: var(--mantine-color-black);
  opacity: 0.7;
  font-weight: 700;
  font-size: rem(16px);
  text-transform: capitalize;
  margin: 0 0 0 var(--mantine-spacing-sm);
}

.mainTitle {
  color: var(--white);
  font-size: var(--title-font-size);
  line-height: 1.2;
  font-weight: 900;
  text-align: center;
  padding: calc(var(--space-40) * 2) 0;

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: rem(28px);
    padding: 0 0 var(--space-40) 0;
  }
}

.subTitle {
  font-family: var(--mantine-font-family);
  font-size: rem(21px);
  line-height: 1.5;
  color: var(--white);
  margin-bottom: var(--mantine-spacing-lg);
}

.video {
  width: 100%;
  img {
    border-radius: 10px 10px 0 0;
    width: 100%;
  }
  @media (max-width: $mantine-breakpoint-xs) {
    width: calc(100vw - 130px);
    font-size: rem(28px);
  }
}
.root {
  margin: 0 3.5rem;
  @media (max-width: $mantine-breakpoint-xs) {
    margin: 0 1.5rem;
  }
  .controls {
    top: calc(50% - 100px / 2);
    padding: 0;
    .control {
      box-shadow: none;
      opacity: 1;
      background-color: transparent;
      border: none;
      svg {
        transition: all 0.3s;
        width: 100px !important;
        height: 100px !important;
        stroke: var(--yellow);
        @media (max-width: $mantine-breakpoint-xs) {
          width: 50px !important;
          height: 50px !important;
        }
      }
    }
    .control:nth-of-type(1) {
      margin-left: -4.5rem;
      @media (max-width: $mantine-breakpoint-xs) {
        margin-left: -2.5rem;
      }
    }
    .control:hover {
      svg {
        stroke: var(--dark-yellow) !important;
      }
    }
    .control:nth-of-type(2) {
      margin-right: -4.5rem;
      @media (max-width: $mantine-breakpoint-xs) {
        margin-right: -2.5rem;
      }
    }
  }
}

.button {
  transition: all 0.3s;
}

.button:hover {
  background-color: var(--dark-yellow) !important;
}
