:root {
  --black: #000000;
  --white: #ffffff;
  --gray: #f1f1f1;
  --yellow: #e8a743;
  --dark-yellow: #c88318;
  --blue: #1f2236;
  --text-gray: #c4c6cd;
  --border-color: #424453;
  --title-font-size: 50px;
  --subtitle-font-size: 40px;
  --space-40: 40px;
  --border-radius-sm: 5px;
  --border-radius-md: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family:
    var(--sora),
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    'Noto Sans',
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji' !important;
}
p,
a,
ul,
ol,
li,
span {
  font-family:
    var(--sora),
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    'Noto Sans',
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji' !important;
}
