.wrapper {
  padding-top: calc(var(--mantine-spacing-xl) * 2);
  padding-bottom: var(--mantine-spacing-xl);
}

.title {
  margin-bottom: calc(var(--mantine-spacing-xl) * 1.5);
  font-size: var(--title-font-size);
  font-weight: 900;
  color: var(--white);
  background-color: var(--yellow);
  border-radius: var(--border-radius-md);
  padding: calc(var(--space-40) / 2);
}

.item {
  border-radius: var(--mantine-radius-md);
  margin-bottom: var(--mantine-spacing-lg);
  border: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.itemTitle {
  font-size: 26px;
  > * {
    font-weight: 600 !important;
  }
  svg {
    height: 30px !important;
    width: 30px !important;
  }
}

.itemDescription {
  font-size: 18px;
}

.jobText {
  font-size: 18px;
  margin-bottom: 15px;
}

.listItem {
  font-size: 18px;
  font-weight: 700;
  margin: 7px 0 7px 10px;
}

.sectionTitle {
  font-size: 18px;
  font-weight: 700;
  color: var(--yellow);
  margin-bottom: 15px;
}

.bold {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
}

.listItemDiv {
  display: flex;
  align-items: center;
  margin-left: 20px;
  svg {
    min-width: 24px;
    stroke: var(--yellow);
  }
}

.column {
  padding: var(--space-40);
}
