.inner {
  display: flex;
  justify-content: space-between;
  padding-top: calc(var(--space-40) * 3);
  padding-bottom: calc(var(--space-40) * 3);
}

.content {
  max-width: 70%;
  margin-right: calc(var(--space-40) * 2);

  @media (max-width: $mantine-breakpoint-md) {
    max-width: 100%;
    margin-right: 0;
  }
}

.title {
  color: var(--blue);
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  font-size: var(--title-font-size);
  line-height: 1.2;
  font-weight: 900;

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: rem(28px);
  }
}

.description {
  font-size: 18px;
}

.control {
  border-radius: var(--border-radius-sm);
  margin-top: var(--space-40);
  background-color: var(--yellow);
  @media (max-width: $mantine-breakpoint-xs) {
    flex: 1;
  }
}

.image {
  max-width: 30%;
  @media (max-width: $mantine-breakpoint-md) {
    display: none;
  }
}

.highlight {
  position: relative;
  background-color: var(--mantine-color-yellow-light);
  border-radius: var(--border-radius-sm);
  padding: rem(4px) rem(12px);
}
