.outer {
  background-color: lightgray;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-size: cover;
  background-position: center;
  padding: 0 0 1rem 0;
}

.tradeName {
  text-align: center;
  font-family:
    Greycliff CF,
    sans-serif;
  font-weight: 900;
  color: var(--mantine-color-black);
  line-height: 1.2;
  font-size: rem(28px);
  margin: var(--mantine-spacing-xs) auto 0 auto;
}

.mainTitle {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  font-size: rem(52px);
  line-height: 1.2;
  font-weight: 900;
  text-align: center;
  margin: 2rem 0 1rem 0;

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: rem(28px);
  }
}

.aboutTitle {
  font-size: 30px;
  margin-bottom: 8px;
  font-weight: 700;
}

.aboutDescription {
  font-family: var(--mantine-font-family);
  font-size: rem(20px);
  line-height: 1.5;
  color: var(--mantine-color-black);
}

.video {
  width: 100%;
  img {
    border-radius: 10px 10px 0 0;
  }
}

.aboutValue {
  padding-bottom: 35px;
  border-bottom: 1px solid lightgray;
  margin-bottom: 30px;
  &:last-of-type {
    border-bottom: none;
    margin-bottom: 0;
  }
}
