.wrapper {
  padding-top: calc(var(--mantine-spacing-xl) * 2);
  padding-bottom: var(--mantine-spacing-xl);
}

.title {
  margin-bottom: calc(var(--mantine-spacing-xl) * 1.5);
  font-size: var(--title-font-size);
  font-weight: 900;
}

.item {
  border-radius: var(--mantine-radius-md);
  margin-bottom: var(--mantine-spacing-lg);
  border: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.itemTitle {
  font-size: 26px;
  > * {
    font-weight: 600 !important;
  }
  svg {
    height: 30px !important;
    width: 30px !important;
  }
}

.itemDescription {
  font-size: 18px;
}
