.outer {
  background-color: var(--blue);
  background-image: url('/images/bg_blue.svg');
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  padding-bottom: 146px;
  margin-bottom: -1px !important;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-size: cover;
  background-position: center;
  padding: 0 0 1rem 0;
}

.mainTitle {
  color: var(--white);
  font-size: var(--title-font-size);
  line-height: 1.2;
  font-weight: 900;
  text-align: center;
  padding: calc(var(--space-40) * 2) 0 var(--space-40) 0;

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: rem(28px);
  }
}

.description {
  font-family: var(--mantine-font-family);
  font-size: rem(21px);
  line-height: 1.5;
  color: var(--mantine-color-black);
  margin-bottom: var(--mantine-spacing-lg);
}

.slide {
  align-content: center;
  filter: brightness(0) invert(1);
}
