.outer {
  background-color: var(--gray);
  padding-bottom: calc(var(--space-40) * 2);
}

.inner {
  display: flex;
  justify-content: space-between;
  padding-top: calc(var(--mantine-spacing-xl) * 4);
  padding-bottom: calc(var(--mantine-spacing-xl) * 4);
}

.content {
  max-width: rem(480px);
  align-content: center;
  text-align: center;

  @media (max-width: 62em) {
    max-width: 100%;
    margin-right: 0;
  }
}

.title {
  color: var(--blue);
  font-size: var(--subtitle-font-size);
  line-height: 1.2;
  font-weight: 900;

  @media (max-width: 30em) {
    font-size: rem(24px);
  }
}

.description {
  font-size: 20px;
  font-weight: 500;
}

.control {
  @media (max-width: 30em) {
    flex: 1;
  }
}

.image {
  width: rem(200px);
  height: rem(200px);
  margin: auto;
  @media (max-width: 30em) {
    width: rem(150px);
    height: rem(150px);
    margin: auto;
  }
}

.highlight {
  position: relative;
  background-color: var(--mantine-color-blue-light);
  border-radius: var(--mantine-radius-sm);
  padding: rem(4px) rem(12px);
}

.line {
  position: relative;
  top: 58px;
  transform: rotate(34deg);
  left: 270px;
  width: 550px;
  @media (max-width: 30em) {
    display: none;
  }
}

.image {
  z-index: 2;
}
