.outer {
  background-color: var(--gray);
  padding-bottom: calc(var(--space-40) * 2);
}

.inner {
  background-color: var(--blue);
  padding: 3rem;
  border-radius: 10px;
  @media (max-width: $mantine-breakpoint-xs) {
    margin: 0 10px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-size: cover;
  background-position: center;
  padding: 0 0 1rem 0;
}

.mainTitle {
  color: var(--white);
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  font-size: rem(52px);
  line-height: 1.2;
  font-weight: 900;
  text-align: center;
  margin: 2rem 0 1rem 0;

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: rem(28px);
  }
}

.description {
  font-family: var(--mantine-font-family);
  font-size: rem(21px);
  line-height: 1.5;
  color: var(--white);
  margin-bottom: var(--mantine-spacing-lg);
  @media (max-width: $mantine-breakpoint-xs) {
    margin-bottom: 1rem;
  }
  a {
    text-decoration: none;
    color: var(--white);
  }
}

.image {
  width: 50px;
  height: 50px;
  margin: auto;
}

.contactBox {
  padding-right: 2rem;
  border-right: 1px solid var(--border-color);
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  &:last-of-type {
    border: none;
  }
  @media (max-width: $mantine-breakpoint-xs) {
    border-right: none;
    border-bottom: 1px solid var(--border-color);
    padding-right: 0;
    margin-right: 0;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }
}
