.popup {
  video {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
}

.title {
  font-size: var(--title-font-size);
  text-align: center;
  padding-bottom: 20px;
  @media (max-width: 756px) {
    font-size: 26px;
  }
}
