.outer {
  background-color: var(--gray);
}

.personName {
  font-weight: 900 !important;
  color: var(--mantine-color-black) !important;
  line-height: 1.2 !important;
  font-size: rem(16px) !important;
  margin: var(--mantine-spacing-xs) 0 0 20px !important;
}

.quote {
  font-weight: 900 !important;
  color: var(--mantine-color-black) !important;
  line-height: 1.2 !important;
  font-size: rem(18px) !important;
  margin: var(--mantine-spacing-xs) 0 0 20px !important;
}

.mainTitle {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-size: rem(52px);
  line-height: 1.2;
  font-weight: 900;
  text-align: center;
  margin: 2rem 0 1rem 0;

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: rem(28px);
  }
}

.description {
  font-family: var(--mantine-font-family);
  font-size: rem(21px);
  line-height: 1.5;
  color: var(--mantine-color-black);
  margin-bottom: var(--mantine-spacing-lg);
}

.video {
  width: 100%;
  iframe {
    border-radius: 10px;
    width: 100% !important;
    height: 100% !important;
  }
}

.testimonial {
  padding: 0 1rem !important;
  margin: 20px 0 !important;
  font-size: 18px !important;
}

.testimonialCard {
  display: flex !important;
  padding: 20px;
  max-height: 250px ;
  height: 100%;
  background-color: var(--white);
}

.stars {
  padding-left: 1rem;
  display: flex;
  align-items: center;
}

.star {
  width: rem(22px);
  height: rem(22px);
}

.root {
  margin: 0 3.5rem;
  .controls {
    top: calc(50% - 100px / 2);
    padding: 0;
    .control {
      box-shadow: none;
      opacity: 1;
      svg {
        width: 100px !important;
        height: 100px !important;
        stroke: var(--yellow);
      }
    }
    .control:nth-of-type(1) {
      margin-left: -4.5rem;
    }
    .control:nth-of-type(2) {
      margin-right: -4.5rem;
    }
  }
}