.outer {
  background-color: var(--gray);
  padding-top: var(--space-40);
}

.personName {
  font-weight: 900 !important;
  color: var(--mantine-color-black) !important;
  line-height: 1.2 !important;
  font-size: rem(16px) !important;
  margin: var(--mantine-spacing-sm) 0 0 20px !important;
}

.mainTitle {
  color: var(--blue);
  font-size: var(--title-font-size);
  line-height: 1.2;
  font-weight: 900;
  text-align: center;
  padding: calc(var(--space-40) * 2) 0;

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: rem(28px);
    padding: var(--space-40) 0;
  }
}
.description {
  font-family: var(--mantine-font-family);
  font-size: 21px;
  line-height: 1.5;
  color: var(--mantine-color-black);
  margin-bottom: var(--mantine-spacing-lg);
}

.video {
  width: 100%;
  iframe {
    border-radius: 10px;
    width: 100%;
    height: 100%;
  }
}

.testimonial {
  padding: 0 1rem !important;
  margin: 20px 0 !important;
  font-size: 18px !important;
  @media (max-width: $mantine-breakpoint-xs) {
    font-size: 16px !important;
  }
}

.testimonialCard {
  display: flex !important;
  padding: 20px;
  max-height: 250px;
  height: 100%;
  background-color: var(--white);
  margin-bottom: 40px;
  @media (max-width: $mantine-breakpoint-xs) {
    flex-direction: column;
    height: fit-content;
    max-height: 100%;
    padding: 10px;
  }
  video {
    border-radius: 10px;
  }
}

.stars {
  padding-left: 1rem;
  display: flex;
  align-items: center;
}

.star {
  width: rem(22px);
  height: rem(22px);
}

.root {
  margin: 0 3.5rem;
  @media (max-width: $mantine-breakpoint-xs) {
    margin: 0 1.5rem;
  }
  .controls {
    top: calc(50% - 100px / 2);
    padding: 0;
    .control {
      box-shadow: none;
      opacity: 1;
      background-color: transparent;
      border: none;
      svg {
        transition: all 0.3s;
        width: 100px !important;
        height: 100px !important;
        stroke: var(--yellow);
        @media (max-width: $mantine-breakpoint-xs) {
          width: 50px !important;
          height: 50px !important;
        }
      }
    }
    .control:nth-of-type(1) {
      margin-left: -4.5rem;
      @media (max-width: $mantine-breakpoint-xs) {
        margin-left: -2.5rem;
      }
    }
    .control:hover {
      svg {
        stroke: var(--dark-yellow) !important;
      }
    }
    .control:nth-of-type(2) {
      margin-right: -4.5rem;
      @media (max-width: $mantine-breakpoint-xs) {
        margin-right: -2.5rem;
      }
    }
  }
}
