.outer {
  background-color: var(--blue);
  padding: calc(var(--space-40) *2) 0;
  text-align: center;
}

.title {
  color: white;
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
    font-size: var(--title-font-size);
  line-height: 1.2;
  font-weight: 900;

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: rem(28px);
  }
}
