.outer {
  background-color: var(--white);
  background-image: url('/images/bg_reverse_gray.svg');
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  padding-bottom: 148px;
  margin-bottom: -1px !important;
  @media (max-width: 30em) {
    padding-bottom: 75px;
  }
}

.mainTitle {
  color: var(--blue);
  font-size: var(--title-font-size);
  line-height: 1.2;
  font-weight: 900;
  text-align: center;
  padding: calc(var(--space-40) * 2) 0;

  @media (max-width: 30em) {
    font-size: rem(28px);
    padding: var(--space-40) 0;
  }
}

.text{
  margin-bottom: 1rem;
}

.secondaryTitle{
  font-size: 30px;
  margin-bottom: 1.5rem;
}

.tercaryTitle{
  font-size: 25px;
  margin-bottom: 1rem;
}