.outer {
  background-color: lightgray;
}

.personName {
  font-family:
    Greycliff CF,
    sans-serif;
  font-weight: 900;
  color: var(--mantine-color-black);
  line-height: 1.2;
  font-size: rem(16px);
  margin: var(--mantine-spacing-xs) 0 0 var(--mantine-spacing-sm);
}

.companyName {
  color: var(--mantine-color-black);
  opacity: 0.7;
  font-weight: 700;
  font-size: rem(16px);
  text-transform: capitalize;
  margin: 0 0 0 var(--mantine-spacing-sm);
  padding-bottom: 1rem;
}

.mainTitle {
  color: var(--blue);
  font-size: rem(52px);
  line-height: 1.2;
  font-weight: 900;
  text-align: center;
  margin: 2rem 0 1rem 0;

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: rem(28px);
  }
}

.description {
  font-family: var(--mantine-font-family);
  font-size: rem(21px);
  line-height: 1.5;
  color: var(--mantine-color-black);
  margin-bottom: var(--mantine-spacing-lg);
}

.video {
  width: 100%;
  iframe {
    border-radius: 10px 10px 0 0;
    width: 100%;
  }
}

.testimonial {
  padding: 0 1rem;
  margin: 20px 0;
  font-size: 18px;
}
