.main {
  display: flex;
  justify-content: center;
  margin: calc(var(--space-40)/2) auto var(--space-40) auto;
}

.title {
  font-size: var(--title-font-size);
  color: var(--blue);
}

.mainGroup {
  z-index: 50;
}

.headerBox {
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 19;
}

.moneyTitle {
  font-size: 50;
  display: flex;
  align-items: center;
  gap: 5;
}

.cardBox1 {
  box-shadow: 0px 30px 50px -7px rgba(0, 0, 0, 0.1);
  height: 36rem;
  width: 17rem;
  padding-inline: 1.5rem;
  border-radius: 0.7rem 0 0 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 755px) {
    width: 19rem;
    border-radius: 0.7rem;
  }
  @media (min-width: 756px) and (max-width: 820px) {
    width: 15rem;
    border-radius: 0.7rem 0 0 0.7rem;
  }
}

.cardBox2 {
  box-shadow: 0px 30px 50px -7px rgba(0, 0, 0, 0.1);
  height: 42rem;
  width: 19rem;
  padding-inline: 1.5rem;
  background: var(--yellow);
  color: white;
  border-radius: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: 756px) and (max-width: 820px) {
    width: 15rem;
    border-radius: 0.7rem;
  }
}

.cardBox3 {
  box-shadow: 0px 30px 50px -7px rgba(0, 0, 0, 0.1);
  height: 36rem;
  width: 18rem;
  padding-inline: 1.5rem;
  border-radius: 0 0.7rem 0.7rem 0;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 755px) {
    width: 19rem;
    border-radius: 0.7rem;
  }
  @media (min-width: 756px) and (max-width: 820px) {
    width: 15rem;
    border-radius: 0 0.7rem 0.7rem 0;
  }
}
