.outer {
  background-color: var(--gray);
}

.outer2 {
  background-color: var(--gray);
  padding-bottom: calc(var(--space-40) * 2);
}

.main {
  display: flex;
  justify-content: center;
  margin: 0 auto 0 auto;
  padding: 0 0 calc(var(--space-40) * 2) 0;
}

.mainTitle {
  color: var(--blue);
  font-size: var(--title-font-size);
  line-height: 1.2;
  font-weight: 900;
  text-align: center;
  padding: var(--space-40) 0 0 0;

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: rem(28px);
  }
}

.mainGroup {
  z-index: 50;
}

.headerBox {
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 19;
  background-color: var(--gray);
  padding: 0.5rem 0 2rem 0;
}

.moneyTitle {
  font-size: 50;
  display: flex;
  align-items: center;
  gap: 5;
}

.cardBox1 {
  box-shadow: 0px 30px 50px -7px rgba(0, 0, 0, 0.1);
  height: 36rem;
  width: 23rem;
  padding-inline: 1.5rem;
  border-radius: 0.7rem 0 0 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 755px) {
    width: 19rem;
    border-radius: 0.7rem;
  }
  @media (min-width: 756px) and (max-width: 820px) {
    width: 15rem;
    border-radius: 0.7rem 0 0 0.7rem;
  }
}

.cardBox2 {
  box-shadow: 0px 30px 50px -7px rgba(0, 0, 0, 0.1);
  height: 42rem;
  width: 24rem;
  padding-inline: 1.5rem;
  background: var(--yellow);
  color: white;
  border-radius: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: 756px) and (max-width: 820px) {
    width: 15rem;
    border-radius: 0.7rem;
  }
}

.cardBox3 {
  box-shadow: 0px 30px 50px -7px rgba(0, 0, 0, 0.1);
  height: 36rem;
  width: 23rem;
  padding-inline: 1.5rem;
  border-radius: 0 0.7rem 0.7rem 0;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 755px) {
    width: 19rem;
    border-radius: 0.7rem;
  }
  @media (min-width: 756px) and (max-width: 820px) {
    width: 15rem;
    border-radius: 0 0.7rem 0.7rem 0;
  }
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.planTitle {
  text-align: center;
  color: var(--white);
  font-size: 21px;
  font-weight: 900;
}

.header {
  background-color: var(--blue);
  padding: calc(var(--space-40) / 2) 0;
  margin-bottom: calc(var(--space-40) / 2);
  border-radius: var(--border-radius-md);
}

.contentTitle {
  font-weight: 600;
  margin-bottom: 10px;
}

.bullet {
  list-style: square;
}

.featureName {
  cursor: pointer;
}

.discount {
  font-weight: 900;
  margin-left: .5rem;
  color: red;
  margin-top: 0.25rem;
}
