.outer {
  background-color: var(--gray);
  padding-bottom: var(--space-40);
}

.text {
  font-size: 18px;
  line-height: 1.75;
}

.grid {
  padding-top: var(--space-40);
  align-items: center;
}

.icon {
  svg {
    transition: all 0.3s;
    stroke: var(--yellow);
  }
}
.icon:hover {
  background-color: transparent;
  svg {
    stroke: var(--dark-yellow);
  }
}

.image {
  border-radius: 10px;
}
