.outer {
  background-color: var(--gray);
  padding-bottom: calc(var(--space-40) * 2);
}

.mainTitle {
  color: var(--blue);
  font-size: var(--title-font-size);
  line-height: 1.2;
  font-weight: 900;
  text-align: center;
  padding: calc(var(--space-40) * 2) 0 var(--space-40) 0;

  @media (max-width: 30em) {
    font-size: rem(28px);
    padding: var(--space-40) 0 calc(var(--space-40) / 2) 0;
  }
}

.image {
  width: 100%;
  height: auto;
  border-radius: 5px;
  img {
    min-width: 386px;
    max-height: 217px;
    background: black;
    object-fit: contain;
    display: block;
  }
  @media (max-width: 30em) {
    video,
    img {
      min-width: 100%;
    }
  }

}