.credits {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.credit {
  display: flex;
  align-items: end;
}

.image {
  width: rem(44px);
  height: rem(44px);
  margin-right: 6px;
}

.stars {
  display: flex;
  align-items: center;
}

.star {
  width: rem(22px);
  height: rem(22px);
}

.title {
  font-size: 14px;
}
