.inner {
  display: flex;
  justify-content: space-between;
  margin-top: calc(var(--space-40) * 2);
  @media (max-width: 62em) {
    flex-direction: column-reverse;
  }
}

.content {
  max-width: 55%;

  @media (max-width: 62em) {
    max-width: 100%;
    margin-right: 0;
  }
}

.mainTitle {
  color: var(--blue);
  font-size: var(--title-font-size);
  line-height: 1.2;
  font-weight: 900;
  text-align: center;
  padding: calc(var(--space-40) * 2) 0;

  @media (max-width: 30em) {
    font-size: rem(28px);
    padding: var(--space-40) 0;
  }
}

.title {
  color: var(--blue);
  font-size: var(--subtitle-font-size);
  line-height: 1.2;
  font-weight: 700;

  @media (max-width: 30em) {
    font-size: rem(26px);
  }
}

.description {
  font-style: italic;
  font-size: 20px;
  @media (max-width: 30em) {
    font-size: 18px;
  }
}

.control {
  border-radius: var(--border-radius-sm);
  margin-top: var(--space-40);
  transition: all 0.3s;
  @media (max-width: 30em) {
    flex: 1;
  }
}

.control:hover {
  background-color: var(--dark-yellow) !important;
}

.image {
  max-width: 45%;
  margin-left: calc(var(--mantine-spacing-xl) * 3);
  object-fit: contain;

  @media (max-width: 62em) {
    margin-left: 0;
    max-width: 100%;
  }
}

.featureTitle {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
  color: var(--yellow);
  margin-left: 5px;
  @media (max-width: 30em) {
    font-size: 16px;
  }
}

.featureDescription {
  font-size: 16px;
  line-height: 1.625;
  margin-bottom: 10px;
  @media (max-width: 30em) {
    font-size: 15px;
  }
}
