.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.planTitle {
  text-align: center;
  color: var(--white);
  font-size: 21px;
  font-weight: 900;
}

.header {
  background-color: var(--blue);
  padding: calc(var(--space-40) / 2) 0;
  margin-bottom: calc(var(--space-40) / 2);
  border-radius: var(--border-radius-md);
}

.contentTitle {
  font-weight: 600;
  margin-bottom: 10px;
}

.bullet {
  list-style: square;
}
