.outer {
  background-color: var(--gray);
  padding-top: var(--space-40);
  @media (max-width: 30em) {
    padding-top: 0;
  }
}

.card {
  padding: 1rem;
  video{
    border-radius: 10px;
  }
}

.mainTitle {
  color: var(--blue);
  font-size: var(--title-font-size);
  line-height: 1.2;
  font-weight: 900;
  text-align: center;
  padding: 0 0 var(--space-40) 0;

  @media (max-width: 30em) {
    font-size: rem(28px);
    padding: calc(var(--space-40)/2) 0;
  }
}
